gcp_project_id = "smartcity-zero-disk-iot-pa"
gcp_region     = "asia-south1"
environment    = "dev"

pubsub_topic_name         = "smartcity-readings"
pubsub_dlq_topic_name     = "smartcity-dlq"
pubsub_subscription_name  = "smartcity-hot-writer"
pubsub_max_delivery_attempts = 5

gcs_bucket                  = "smartcity-zero-disk-iot-pa-cold"
cold_storage_retention_days = 365

bigquery_dataset             = "smartcity_iot"
artifact_registry_repository = "smartcity"
gke_namespace                = "smartcity"
enable_workload_identity_bindings = false
